<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>ChatDog</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="/static/images/chatdog.png" alt="image" class="dog">
                </div>
                <div class="chatbox__content--header">
                    <h2 class="chatbox__heading--header">Assistente Chat Dog Lab</h2>
                    <p class="chatbox__description--header">Olá, bem vindo ao ChatDog, me pergunte qualquer coisa sobre a BitDogLab ou como programa-la</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Escreva sua pergunta">
                <button class="chatbox__send--footer send__button">Enviar</button>
            </div>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
